.item {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.itemText {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}